In [1]:
import pandas as pd

      REF_DATE,"GEO","DGUID","Age group","Sex","Body mass index (BMI), Canadian standard","Characteristics","UOM","UOM_ID","SCALAR_FACTOR","SCALAR_ID","VECTOR","COORDINATE","VALUE","STATUS","SYMBOL","TERMINATED","DECIMALS"
0      1994,"Canada","","Total, 20-64 years","Both se...
1      1994,"Canada","","Total, 20-64 years","Both se...
2      1994,"Canada","","Total, 20-64 years","Both se...
3      1994,"Canada","","Total, 20-64 years","Both se...
4      1994,"Canada","","Total, 20-64 years","Both se...
...                                                  ...
38011  1998,"British Columbia","","55-64 years","Fema...
38012  1998,"British Columbia","","55-64 years","Fema...
38013  1998,"British Columbia","","55-64 years","Fema...
38014  1998,"British Columbia","","55-64 years","Fema...
38015  1998,"British Columbia","","55-64 years","Fema...

[38016 rows x 1 columns]

KeyError: 'REF_DATE'

In [13]:
df

      REF_DATE,"GEO","DGUID","Age group","Sex","Body mass index (BMI), Canadian standard","Characteristics","UOM","UOM_ID","SCALAR_FACTOR","SCALAR_ID","VECTOR","COORDINATE","VALUE","STATUS","SYMBOL","TERMINATED","DECIMALS"
0      1994,"Canada","","Total, 20-64 years","Both se...
1      1994,"Canada","","Total, 20-64 years","Both se...
2      1994,"Canada","","Total, 20-64 years","Both se...
3      1994,"Canada","","Total, 20-64 years","Both se...
4      1994,"Canada","","Total, 20-64 years","Both se...
...                                                  ...
38011  1998,"British Columbia","","55-64 years","Fema...
38012  1998,"British Columbia","","55-64 years","Fema...
38013  1998,"British Columbia","","55-64 years","Fema...
38014  1998,"British Columbia","","55-64 years","Fema...
38015  1998,"British Columbia","","55-64 years","Fema...

[38016 rows x 1 columns]